@model IEnumerable<AbstraktApp.WebUI.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <form method="get">
        <p>Search by products/categories</p>
        <input type="text" name="search" />
        <input type="submit" />
    </form>
</div>



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name) (Products: @item.Products.Count())
                                
                <ul>
                    @foreach (var prod in item.Products)
        {
            <li>@prod.Name</li>
}

                </ul>

            </td>
            <td>
                @Html.ActionLink("Products", "Index", "Products", new { categoryId = item.ID }, null) |
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })

                

            </td>
        </tr>
    }

</table>
